* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 162, 174);
    height: 100vh;
    overflow: hidden;
}

.top, .bottom {
    position: absolute;
}

.top {
    transform: translate(-35%, -55%);
}

.bottom {
    bottom: 0;
    right: 0;
    transform: translate(40%, 65%);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    overflow: hidden;
    border-radius: 16px;
    z-index: 10;
}

.bottom-card {
    background-color: #ffffff;
}

.profile-pic {
    border-radius: 50%;
    margin: -50px auto 0 auto;
    overflow: hidden;
    width: min-content;
}

.text {
    text-align: center;
    padding: 15px 23px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

.grey-txt {
    color: #969696;
    font-weight: 400;
}

h2 {
    margin: 0 0 0 7px;
}

.marg {
    margin: 3px 0;
}

.stats {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 705px){
    .top {
        transform: translate(-70%, -55%);
    }

    .bottom {
        transform: translate(70%, 65%);
    }
}

@media screen and (max-height: 700px){
    .top {
        transform: translate(-70%, -55%);
    }

    .bottom {
        transform: translate(80%, 85%);
    }
}